DJANGO_SETTINGS_MODULE=mark1.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://mark1:password@db:5432/mark1
# DATABASE_URL=sqlite:///backend/db.sqlite3
