.container {
  display: flex;
  margin-top: 10px;
}
.mainPage {
  flex: 6;
  height: calc(100vh - 50px);
  top: 50px;
}
.link {
  text-decoration: none;
  color: inherit;
}
/*SIDE BAR*/
.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  background-color: rgb(251, 251, 255);
}
.sidebarWapper {
  padding: 20px;
  color: #555;
}
.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarTitle {
  font-size: 15px;
  color: rgb(68, 68, 68);
}
.sidebarList {
  list-style: None;
  padding: 5px;
}
.sidebarListItem {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 12px;
}
.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(34 34 34);
  color: #fff;
}
.sidebarIcon {
  margin-right: 5px;
  font-size: 20px;
}
/*Top bar*/
.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}
.topRight {
  display: flex;
  align-items: center;
}
.topbarWarpper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}
.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: gray;
}
.topbarIcon:hover {
  background-color: rgb(199, 185, 185);
}
.no {
  border-radius: 10px;
  color: rgb(189, 0, 0);
}
.co {
  border-radius: 10px;
  color: rgb(0, 167, 14);
}
.inputField {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.sendOrderField {
  display: flex;
  justify-content: flex-end;
}
.sendOrderItem {
  width: 150px;
  margin: 10px !important;
}
.orderButton {
  margin: 10px !important;
  width: 75px;
  position: relative;
}
